
*{
    color: #893920;
    font-family: 'Josefin Sans', sans-serif;
}

div{
    
    user-select: auto;
    overflow-y: scroll;
    max-height: 700px;
    
    margin-right: 120px;
    position: absolute;
  right: 0; /* Coloca el contenido a la derecha */
  top: 0; 
   margin-top: 150px;
    height: 450px;
    width: 400px;
    border: #893920 10px double;
    border-radius: 20px;
}
ul{
    padding: 0;
    list-style: none;
}
li{
    padding-left: 15px;
    padding-top: 35px;
    height: 96px;
}
.amarillo{
    background-color: #feefc6;
}
.blanco{
    background-color: #FFF;
}
.titulo{
    font-size: 25px;
}