<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Josefin+Sans&family=PT+Serif:wght@700&display=swap" rel="stylesheet">

<div>
    <ul>
        <li  class="titulo amarillo">
            pepito cafeteria
        </li>
        <li  class="titulo blanco">
            1946
        </li>
        <li class="titulo amarillo">
           dunells
        </li>
        <li  class="titulo blanco">
            caju
         </li>
         <li  class="titulo amarillo">
            estacion margus
         </li>
         <li  class="titulo blanco">
            caju
         </li>
         <li  class="titulo amarillo">
            caju
         </li>
    </ul>
    
</div>