<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<div class="container">
  
  <!-- <img  class="imagen" src="../../../../../assets/img/5b3a12cd850d93266c413a612f5e264f.png"> -->
  <div class="card" style="width: 18rem;">
    <h3 class="letra">iniciar sesion</h3><br>
    <ul class="list-group list-group-flush">
      <p class="letra">correo electronico</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">☕</span>
        <input id="input1" type="text" class="input" class="form-control" placeholder="correo electronico" aria-label="correo electronico" aria-describedby="addon-wrapping">
      </div></li><br>
      <p class="letra">contraseña</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">☕</span>
        <input id="input2" type="text" class="input"  class="form-control" placeholder="contraseña" aria-label="contraseña" aria-describedby="addon-wrapping">
      </div></li>
    </ul><br>
    <button onclick="guardarDatos()" type="button" class="btn">
        ingresar
    </button>
  </div>

</div>