.fondo{
    background-color: #FFDD86;
}
 .card {      
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2000px;
    height: 450px;
 }
.imagen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    color: #FFDD86;
}
.btn{
    background-color: #C01818;
}
      
  