.container {
    border: 10px double;
    border-radius: 20px;
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    max-width: 90%;
    height: 400px;
    width: 400px;
    color: #893920;
    
    
}

.card {
    background-color: #FFDD86;
    position: relative;
    width: 100%;
    height: auto;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    margin-top: 20px;
}

.imagen {
    position: relative;
    width: 100%;
    height: auto;
    max-width: 500px;
    margin-top: 20px;
}

.btn {
    background-color: #C01818;
    padding: 10px 20px;
}

.letra {
    color: #C01818;
}

/* Media query para hacer ajustes específicos para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none;
    }
}
