<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
</head>
<body class="fondo">
  <img  class="imagen" src="../../../../../assets/img/5b3a12cd850d93266c413a612f5e264f.png">
  <div class="card" style="width: 18rem;">
    <ul class="list-group list-group-flush">
      <p>correo electronico</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping"></span>
        <input type="text" class="form-control" placeholder="correo electronico" aria-label="correo electronico" aria-describedby="addon-wrapping">
      </div></li>
      <p>contraseña</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping"></span>
        <input type="text" class="form-control" placeholder="contraseña" aria-label="contraseña" aria-describedby="addon-wrapping">
      </div></li>
    </ul>
  </div>
</body>
</html>