<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Josefin+Sans&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Josefin+Sans&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=PT+Serif:wght@700&display=swap" rel="stylesheet">

<body>
    

<div class="contenedor">
    <div class="texto-superpuesto">
        <h1>¿Qué es COFFEE POINT?</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam ad, beatae repudiandae amet voluptas ab sunt repellat molestiae id neque fuga, exercitationem quia provident debitis quaerat voluptatem dolorem explicabo dignissimos.</p>
        <button class="boton1" routerLink="/home">Buscar cafeterias</button>
        <!-- <a routerLink="/home" style="background-color:#a55e49 ; ">Buscar cafeterias</a> -->
    </div>
</div>
</body>