body{
    position: relative;
    background-image: url('../../../../../assets/presentacion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
h1{
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    font-family: 'Inknut Antiqua', serif;  
}
p{
    padding-top: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #FFF;
    font-weight: lighter;
}
a{
  
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #FFF;
}
/* .texto-superpuesto {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical según tus preferencias 
    left: 50%; /* Ajusta la posición horizontal según tus preferencias 
    transform: translate(-50%, -50%); /* Centra el texto en el centro del contenedor 
    color: #fff; /* Color del texto 
    padding: 10px; /* Espaciado alrededor del texto
    z-index: 1; /* Asegura que el texto esté por encima de la imagen 
} */