body{
    position: relative;
    background-image: url('../../../../../assets/presentacion.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}
h1{
    padding-top: 100px;
    text-align: center;
    color: #FFF;
    font-family: 'Inknut Antiqua', serif;  
}
p{
    padding-top: 50px;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #FFF;
    font-weight: lighter;
    padding-bottom: 120px;
}
a{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    color: #FFF;
}
.boton1 {
    text-decoration: underline;
    border-radius: 10px;
    border: 2px solid white; /* Borde blanco de 2 píxeles */
    background: transparent; /* Fondo transparente */
    color: white; /* Color del texto en el botón */
    padding: 10px 20px; /* Añade un relleno al botón */
    font-size: 25px; /* Tamaño de la fuente del texto */
    font-family: 'Josefin Sans', sans-serif;
}

/* Estilos adicionales para resaltar el botón al pasar el mouse sobre él */
.boton1:hover {
    transition: 1s;
    background: white; /* Cambia el fondo a blanco al pasar el mouse sobre el botón */
    color: black; /* Cambia el color del texto a negro al pasar el mouse sobre el botón */
}
@media screen and (max-width: 768px) {
    h1 {
        font-size: 24px;
        padding-top: 50px;
    }

    p {
        font-size: 18px;
        padding-top: 30px;
        padding-bottom: 60px;
    }

    a, .boton1 {
        font-size: 20px;
    }
}