*{
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    position: relative;
   
}
.container h2{
    color: #893920;
    
    text-align: center;
    padding-top: 20px;
    margin: 0px;
    width: 645px;
    height: 60px;
    background-color: #fff7e5;
    position: absolute;
}