<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Josefin+Sans&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<button type="button"  class="btn " style="background-color:#a55e49 ; color: #FFF; float: right;">Menús</button>
<div class="container" *ngIf="mostrarComponente">
        <div class="coffee">
            <h2>- Busca tu cafetería aquí -</h2>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1A6nvf0XyTlJXBZAFXXEPUypZBSIDNk4&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
    <img src="../../../assets/1946" *ngIf="mostrarImagen" alt="">
   <button (click)="ocultarComponente">menu</button>


<div class="input-group input-group-lg barra" style="width: 500px;">
    <span class="input-group-text"  style="background-color: #a55e49;" id="inputGroup-sizing-lg"><img style="height: 25px;" src="../../../assets/lupa.png" alt=""></span>
    <input type="text" class="form-control" style="background-color: #c2806d;" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>

