<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Josefin+Sans&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
<div class="fondo">
<button type="button" [hidden]="ocultarBotonMenuGeneral" (click)="mostrarMenuGeneral()" class="btn boton" style="background-color:#a55e49 ; color: #FFF; float: right;">Populares</button><button type="button" [hidden]="ocultarBotonMenuPersonal" (click)="mostrarMenuPersonal()" class="btn boton" style="background-color:#a55e49 ; color: #FFF; float: right;">Menú</button>    <button type="button" [hidden]="ocultarBotonResenas" (click)="mostrarResenas()" class="btn boton" style="background-color:#a55e49 ; color: #FFF; float: right;">Reseñas</button><button type="button" (click)="mostrarCafeterias()" class="btn boton" style="background-color:#a55e49 ; color: #FFF; float: right;">Cafeterías</button>
<div class="container" [hidden]="ocultarComponente" >
        <div class="coffee">
            <h2>- Busca tu cafetería aquí -</h2>
        </div>
        <iframe src="https://www.google.com/maps/d/embed?mid=1A6nvf0XyTlJXBZAFXXEPUypZBSIDNk4&ehbc=2E312F" width="640" height="480"></iframe>
    </div>
<div>
    <img src="../../../../../assets/volver.png" [hidden]="ocultarImagen" (click)="volver()" alt="" style="height: 40px; margin-left: 80px;" srcset="">
    <h2 class="titulocafe" [hidden]="ocultarImagen">- Pepito Cafeteria -</h2>
    
    <img src="../../../assets/1946" [hidden]="ocultarImagen" class="imagen" alt="">
   <p [hidden]="ocultarImagen" style="margin-left: 80px; font-size: 17px;">
    Horario: lunes a domingo de 7:30 a 21:00. <br>
    Teléfono: 02994777790. <br>
    http://www.estacionmargus.com.ar/
   </p>
</div>


<div class="input-group input-group-lg barra" style="width: 500px;">
    <span class="input-group-text"  style="background-color: #a55e49;" id="inputGroup-sizing-lg"><img style="height: 25px;" src="../../../assets/lupa.png" alt=""></span>
    <input type="text" class="form-control" style="background-color: #c2806d;" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
  </div>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inknut+Antiqua&family=Josefin+Sans&family=PT+Serif:wght@700&display=swap" rel="stylesheet">
 <div>
  <div [hidden]="ocultarCafe" class="cuadro">
      <ul>
          <li (click)="mostrarCafeteria()" class="titulo amarillo">
              1- Pepito Cafeteria <img style="height: 30px; float:right;" src="../../../../../assets/estrellas.png" alt="" srcset="">
          </li>
          <li class="subtitulo amarillo"> Yrigoyen 1200</li>
          <li (click)="mostrarCafeteria()" class="titulo blanco">
              2- 1946 <img style="height: 30px; float:right;" src="../../../../../assets/estrellas.png" alt="" srcset="">
          </li>
          <li class="subtitulo blanco"> Gral. Roca 320</li>
          <li (click)="mostrarCafeteria()"class="titulo amarillo">
             3- Dunells <img style="height: 30px; float:right;" src="../../../../../assets/estrellas.png" alt="" srcset="">
          </li>
          <li class="subtitulo amarillo"> San Martín 970</li>
          <li  class="titulo blanco">
              4- Caju <img style="height: 30px; float:right;" src="../../../../../assets/estrellas.png" alt="" srcset="">
           </li>
           <li class="subtitulo blanco"> España 420</li>
           <li  class="titulo amarillo">
              5- Estacion Margus <img style="height: 30px; float:right;" src="../../../../../assets/estrellas.png" alt="" srcset="">
           </li>
           <li class="subtitulo amarillo"> Saez Peña 1080</li>
           <li  class="titulo blanco">
              6- Pucara <img style="height: 30px; float:right;" src="../../../../../assets/estrellas.png" alt="" srcset="">
           </li>
           <li class="subtitulo blanco">Brasil 1713</li>
           <li  class="titulo amarillo">
              7- Plaza Bar <img style="height: 30px; float:right;" src="../../../../../assets/estrellas.png" alt="" srcset="">
           </li>
           <li  class="subtitulo amarillo">Avenida Alem 210</li>
      </ul>
      
  </div>
</div> 
<div>
    <div [hidden]="ocultarMenuGeneral" class="cuadro">
        <ul>
            <li  class="titulo amarillo">
                Cheeseecake $200 (Estacion Margus)
            </li>
            <li  class="titulo blanco">
                Medialunas $400 (1946)
            </li>
            <li class="titulo amarillo">
                Cafe + Tostados $1000 (1946)
            </li>
            <li  class="titulo blanco">
                Tiramisú $500 (Plaza Bar)
             </li>
             <li  class="titulo amarillo">
                Cappuchino $450 (Caju)
             </li>
             <li  class="titulo blanco">
                Desayuno Americano $10000 (Dunells)
             </li>
             <li  class="titulo amarillo">
                Pizza $200 (Estacion Margus)
             </li>
        </ul>
        
    </div>
  </div> 
  <div>
    <div [hidden]="ocultarMenuPersonal" class="cuadro menu">
        <ul>
            <li  class="titulo amarillo">
                Medialuna $200
            </li>
            <li  class="titulo blanco">
                Cafe + Tostados $3000
            </li>
            <li class="titulo amarillo">
                Combo desayuno $7000
            </li>
            <li  class="titulo blanco">
                Tostadas de campo + Cafe $5000
             </li>
             <li  class="titulo amarillo">
                Exprimido + Tostados $400
             </li>
             <li  class="titulo blanco">
                Cheeseecake $500
             </li>
             <li  class="titulo amarillo">
                Fosforitos $200
             </li>
        </ul>
        
    </div>
    
  </div> 
  <div>
    <div [hidden]="ocultarResenas" class="cuadro menu">
        <ul>
            <li  class="resenatitulo">
                <h2 class="numero">3,9<img src="../../../../../assets/estrellas.png" style=" padding-left: 20px; width: 180px;" alt=""></h2>
                <p style="margin: 0;">20 reseñas</p>
                <div class="input-group input-group-lg " style="width: 340px; margin: 0;">
                    <span class="input-group-text"  style="background-color: #a55e49;" id="inputGroup-sizing-lg"><img src="../../../../../assets/editar.png" style="height: 30px;" alt=""></span>
                    <input placeholder="Escribir tu opinón..." type="text" class="form-control" style="background-color: #c2806d;" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg">
                  </div>
            </li>

            <li  class="resenablanco">
                <h3 class="nombreresena" style="margin-top: 0px; padding-top: 0px;" ><img src="../../../../../assets/fotodeperfil.png" style="height: 30px; margin-right: 20px;" alt="">Romina Perez</h3>
                <p style="text-align: left;"><img src="../../../../../assets/5estrellas.png" alt="" style="height: 20px;"> hace 6 meses</p>
                <p class="resena2">Muy buena atencion y cosas muy ricas, excelente lugar para merendar</p>
                <p><img class="like " src="../../../../../assets/like.png" alt=""><img class="like" src="../../../../../assets/dislike.png" alt=""></p>
            </li>
            <li  class="resenaamarillo">
                <h3 class="nombreresena" style="margin-top: 0px; padding-top: 0px;" ><img src="../../../../../assets/fotodeperfil.png" style="height: 30px; margin-right: 20px;" alt="">Lucrecia Padin</h3>
                <p style="text-align: left;"><img src="../../../../../assets/5estrellas.png" alt="" style="height: 20px;"> hace 7 meses</p>
                <p class="resena2">Muy lindo lugar, buenos precios y mucha variedad</p>
                <p><img class="like " src="../../../../../assets/like.png" alt=""><img class="like" src="../../../../../assets/dislike.png" alt=""></p>
            </li>
            <li  class="resenablanco">
                <h3 class="nombreresena" style="margin-top: 0px; padding-top: 0px;" ><img src="../../../../../assets/fotodeperfil.png" style="height: 30px; margin-right: 20px;" alt="">Fermin Poblete</h3>
                <p style="text-align: left;"><img src="../../../../../assets/5estrellas.png" alt="" style="height: 20px;"> hace 10 meses</p>
                <p class="resena2">El cafe estaba muy rico y muy calentito, las medialunas mortales</p>
                <p><img class="like " src="../../../../../assets/like.png" alt=""><img class="like" src="../../../../../assets/dislike.png" alt=""></p>
            </li>
            <li  class="resenaamarillo">
                <h3 class="nombreresena" style="margin-top: 0px; padding-top: 0px;" ><img src="../../../../../assets/fotodeperfil.png" style="height: 30px; margin-right: 20px;" alt="">Jonatan Antimir</h3>
                <p style="text-align: left;"><img src="../../../../../assets/5estrellas.png" alt="" style="height: 20px;"> hace 3 meses</p>
                <p class="resena2">Mucha demora en la atencion, el lugar no esta tan mal</p>
                <p><img class="like " src="../../../../../assets/like.png" alt=""><img class="like" src="../../../../../assets/dislike.png" alt=""></p>
            </li>
            <li  class="resenablanco">
                <h3 class="nombreresena" style="margin-top: 0px; padding-top: 0px;" ><img src="../../../../../assets/fotodeperfil.png" style="height: 30px; margin-right: 20px;" alt="">Martin Ibañez</h3>
                <p style="text-align: left;"><img src="../../../../../assets/5estrellas.png" alt="" style="height: 20px;"> hace 4 días</p>
                <p class="resena2">No pueden haber subido tanto los precios de la ultima vez que fui</p>
                <p><img class="like " src="../../../../../assets/like.png" alt=""><img class="like" src="../../../../../assets/dislike.png" alt=""></p>
            </li>
            <li  class="resenaamarillo">
                <h3 class="nombreresena" style="margin-top: 0px; padding-top: 0px;" ><img src="../../../../../assets/fotodeperfil.png" style="height: 30px; margin-right: 20px;" alt="">Martina Silva</h3>
                <p style="text-align: left;"><img src="../../../../../assets/5estrellas.png" alt="" style="height: 20px;"> hace 1 año</p>
                <p class="resena2">Fui con amigas, linda tarde compartida, increible la variedad </p>
                <p><img class="like " src="../../../../../assets/like.png" alt=""><img class="like" src="../../../../../assets/dislike.png" alt=""></p>
            </li>
        </ul>
        
    </div>
    
  </div> 
  <button type="button" class="btn boton" style="background-color:#a55e49 ; color: #FFF; float: right;" data-bs-toggle="modal" data-bs-target="#agregarCafeteria">
    Agregar Cafetería
</button>
<div class="modal fade" id="agregarCafeteria" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Ingrese una nueva cafeteria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div [formGroup]="cafeteria" class="modal-body">
                <!-- Recibe los nuevos valores -->
                <div class="mb-3">
                    <label class="form-label">Ingrese nombre de la cafeteria:</label>
                    <input type="text" class="form-control" formControlName="nombre" placeholder="...">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese dirección:</label>
                    <input type="text" class="form-control" formControlName="direccion" placeholder="...">
                </div>
                <div class="mb-3">
                    <label class="form-label">Ingrese una imagen de la cafeteria:</label>
                    <input type="text" class="form-control" formControlName="imagen" placeholder="...">
                </div>
                
                <div class="mb-3">
                    <label class="form-label">Ingrese descripción:</label>
                    <input type="text" class="form-control" formControlName="descripcion" placeholder="...">
                </div>
               
            </div>

            <!-- Corresponde a las ACCIONES -->
            <div class="modal-footer">

                <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal"
                    (click)="agregarCafeteria()">Guardar</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>

</div>