.container{
    border: 10px double;
    border-radius:20px; 
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 550px;
    color: #893920;
    
}
 .card {      
    background-color: #FFDD86;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2000px;
    height: 389px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
      
 }
.imagen{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    color: #FFDD86;
}
.btn{
    background-color: #C01818;
}
.letra{
    color: #C01818;
}

