.container {
    border: 10px double;
    border-radius: 20px;
    max-width: 90%; /* Cambiado de width a max-width */
    height: 600px; /* Cambiado de height a auto para mantener la proporción */
    width: 400px;
    color: #893920;
}

.card {
    background-color: #FFDD86;
    position: relative; /* Cambiado a relative para que se ajuste al contenedor */
    width: 100%; /* Cambiado a 100% para ocupar el ancho del contenedor */
    height: 200px; /* Cambiado a auto para mantener la proporción */
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    margin-top: 20px; /* Añadido un margen superior */
    margin-bottom: 20px;
}

.imagen {
    position: relative; /* Cambiado a relative para que se ajuste al contenedor */
    width: 400px; /* Cambiado a 100% para ocupar el ancho del contenedor */
    height: 400px; /* Cambiado a auto para mantener la proporción */
   /* max-width: 500px; /* Añadido un max-width para limitar el tamaño en pantallas grandes */
    margin-top: 20px; /* Añadido un margen superior */
}

.btn {
    background-color: #C01818;
    padding: 10px 20px; /* Añadido un relleno para que sea más fácil hacer clic en dispositivos móviles */
}

.letra {
    color: #C01818;
}

/* Media query para hacer ajustes específicos para pantallas más pequeñas */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none; /* Eliminado el max-width para que ocupe el ancho completo en pantallas pequeñas */
    }
}