<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
<div class="container">
  
  
  <div class="card" style="width: 18rem;">
    <h3 class="letra">crear cuenta</h3><br>
    <ul class="list-group list-group-flush">
      <p class="letra">correo electronico</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">☕</span>
        <input type="text" class="input" class="form-control" placeholder="correo electronico" aria-label="correo electronico" aria-describedby="addon-wrapping">
      </div></li><br>
      <p class="letra">nombre completo</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">☕</span>
        <input type="text" class="input"  class="form-control" placeholder="nombre completo" aria-label="nombre completo" aria-describedby="addon-wrapping">
      </div></li>
    </ul><br>
    <p class="letra">nombre de usuario</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">☕</span>
        <input type="text" class="input" class="form-control" placeholder="nombre de usuario" aria-label="nombre de usuario" aria-describedby="addon-wrapping">
      </div></li><br>
      <p class="letra">contraseña</p>
      <li class="list-group-item"><div class="input-group flex-nowrap">
        <span class="input-group-text" id="addon-wrapping">☕</span>
        <input type="text" class="input" class="form-control" placeholder="contraseña" aria-label="contraseña" aria-describedby="addon-wrapping">
      </div></li><br>
    <button type="button" class="btn">
        ingresar
    </button>
  </div>

</div>