.card {      
    display: flex;
    justify-content: flex-end; /* Alinea el contenido a la derecha */
    margin: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px; /* Ancho de la tarjeta */

}

.container{
    border: 10px double;
    border-radius:20px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    color: #893920;

}